/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
}

nav {
    height: 60px;
}

    nav .container {
        display: flex;
        justify-content: space-around;
        align-self: center;
        align-items: center;
        height: 100%;
    }

    nav .nav-links {
        display: flex;
        justify-content: space-around;
    }


.logo a, .account-links a, .site-links a {
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}



.page-header {
    color: white;
}

div.landing-page {
    height: 100vh;
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*div.hero-button button {
    color: #fff;
    max-width: 200px;
    background: #ff6b54;
    border: 1px solid #ff6b54;
    border-radius: 3px;
    outline: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    padding: 16px 32px;
    opacity: 1;
}*/

div.hero-button a {
    cursor: pointer;
    color: #fff;
    max-width: 200px;
    background: #ff6b54;
    border: 1px solid #ff6b54;
    border-radius: 3px;
    outline: none;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    padding: 16px 32px;
    opacity: 1;
    text-decoration:none;
}

.page-header h1 {
    font-size: 40px;
}

footer {
    text-align: center;
}

/*login page*/

.login-background {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
    height: 100vh;
    display: flex;
}

.login-content {
    padding: 40px;
    font-weight: 500;
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    border-radius: 4px;
    font-size: 18px;
    min-width: 300px;
}

    .login-content form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 340px;
    }

.login-btn {
    color: #fff;
    max-width: 200px;
    background: #ff6b54;
    border: 1px solid #ff6b54;
    border-radius: 3px;
    outline: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    padding: 16px 32px;
    opacity: 1;
    align-self: center;
}

.login-content a {
    text-decoration: none;
}

.authenticate {
    display: flex;
    flex-direction: column;
}

    .authenticate input {
        height: 25px;
        font-size: 16px;
        border-left: none;
        border-top: none;
        border-right: none;
        border-bottom: 1px solid black;
    }

        .authenticate input:focus {
            border-left: none;
            border-top: none;
            border-right: none;
            border-bottom: 1px solid black;
            outline: none;
        }

    .authenticate .remember-me {
        display: flex;
        justify-content: center;
        align-items: center;
    }

/*register page*/

.register-background {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
    height: 100vh;
    display: flex;
}

.register-content {
    padding: 40px;
    font-weight: 500;
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    border-radius: 4px;
    font-size: 18px;
    min-width: 300px;
}

    .register-content form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 300px;
    }

.register-button {
    color: #fff;
    max-width: 200px;
    background: #ff6b54;
    border: 1px solid #ff6b54;
    border-radius: 3px;
    outline: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    padding: 16px 32px;
    opacity: 1;
    align-self: center;
}


/*forgot password page*/
.forgot-password-background {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
    height: 100vh;
    display: flex;
}

.forgot-password-content {
    padding: 40px;
    font-weight: 500;
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    border-radius: 4px;
    font-size: 18px;
    min-width: 300px;
}

.forgot-button {
    color: #fff;
    max-width: 200px;
    background: #ff6b54;
    border: 1px solid #ff6b54;
    border-radius: 3px;
    outline: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    padding: 16px 32px;
    opacity: 1;
    align-self: center;
}

.forgot-password-content form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 250px;
}


/*<div class="card-outer" >
<div class="image-and-status" > </div >
<div class="name-achievements-technologies" > </div >
<div class="rate-and-action-call" > </div >
</div >*/

.card-outer {
    display: flex;
    min-width: 300px;
    justify-content: space-around;
}

.image-and-status {
    display: flex;
    flex-direction: column;
}

.name-achievements-technologies {
    display: flex;
    flex-direction: column;
}

.rate-and-action-call {
    display: flex;
    flex-direction: column;
}
