@{
    ViewData["Title"] = "Home Page";
}

<div class="landing-page">

    <div class="page-header">
        <h1>Find a mentor to help you with whatever your goal may be!</h1>
    </div>

    <div class="hero-button">
        <a href="~/Mentor/Index">Our Mentors</a>
    </div>

</div>

