@{
    ViewData["Title"] = "Home Page";
}

<div class="index-content">
    <div>
        <img src="~/images/frontPage.png" />
    </div>
    <div class="page-header">
        <h1>Find a mentor now!</h1>
    </div>

    <div class="hero-button">
        <a href="~/Mentor/Index">Our Mentors</a>
    </div>
</div>



