@model ZF.Personal.Mentor.Core.Web.ViewModels.ProfileViewModel

@{
    ViewData["Title"] = "Index";
}
<div class="profile-content">
    <div class="header">
        <h2>Your Profile</h2>
    </div>
    <div>
        <hr />
        <dl>
            <dt>
                <div class="header">
                    <b>Display Name</b>
                </div>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DisplayName)
            </dd>
            <dt>
                <div class="header">
                    <b>First Name</b>
                </div>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt>
                <div class="header">
                    <b>Last Name</b>
                </div>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt>
                <div class="header">
                    <b>Description</b>
                </div>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                <div class="header">
                    <b>Profile Image</b>
                </div>
            </dt>
            <dd>
                <img class="profile-index-img" src="~/UserFiles/Images/@ViewBag.ProfileImage" />
            </dd>
        </dl>
        <a asp-controller="Profile" asp-action="Edit">
            <div class="edit-circle-btn">
                <i class="far fa-edit"></i>
            </div>
        </a>
    </div>

</div>
