@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}


<div class="forgot-password-background">
    <div class="forgot-password-content">
        <h4>Submit this form to retrieve password</h4>
        <form method="post">
            <div asp-validation-summary="All"></div>
            <div class="authenticate">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" />
                <span asp-validation-for="Input.Email"></span>
            </div>
            <button type="submit" class="forgot-button">Submit</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
