<a style="color:white; font-weight: 600; padding: 10px; position: absolute; bottom: -40px; margin: auto;" asp-controller="Mentor" asp-action="BecomeMentor">Not a mentor yet? Become one.</a>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
