@model ZF.Personal.Mentor.Core.Web.ViewModels.MentorListViewModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Index";
}

@foreach (var item in Model.Profiles)
{
    <div class="card-outer">
        <div class="image-and-status">
            <img src="~/UserFiles/Images/@($"{item.ProfileId}.jpg")" />
            <span>Online</span>
        </div>
        <div class="name-achievements-technologies">
            <b>
                @item.FirstName @item.LastName
            </b>
            <p>@item.Description</p>

        </div>
        <div class="rate-and-action-call">
            <a asp-controller="Mentor" asp-action="View" asp-route-id="@item.ProfileId">View Profile</a>

        </div>
    </div>

}

@if (!Model.IsMentor && User.Identity.IsAuthenticated)
{
    <partial name="_BecomeMentor" />
}


